@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
*{
    margin: 0;
    outline: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    --search-background-color:#303134;
    --font-color-defalt:white;
    --action-popup-bg:#313336;
    --font-defalt-p-color:#cfcfcf;
    --var:rgb(134, 104, 87);
}
body{
    background-color: #202124;
    color: var(--font-color-defalt);
}
#bodysub{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}  
.footer{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bodySub-bg-top{
    position: absolute;
    width: 100%;
    height: 80px; 
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}
.bodySub-bg-top-h2{
    position: absolute;
    left: 0px;
    margin-left: 50px;
    margin-right: 50px;
}
#image-bodySub-bg-top-tilt{
    position: absolute;
    left: 15px;
    width: 25px;
}
#image-bodySub-bg-top-tilt0{
    position: absolute;
    right: 15px;
    width: 25px;
} 
#image-bodySub-bg-top-tilt1{
    position: absolute;
    right: 50px;
    width: 25px;
} 
.top-body-cont-445{
    width: 92%;
    position: absolute;
    left: 4%;
    top: 100px;
    background-color:var(--search-background-color);
    border-radius: 5px;
    box-shadow: 0 15px 20px 5px rgba(0, 0, 0, 0.11);
    z-index: 10;
}
.top-body-cont-445 input{
    position: relative;
    top: 0;
    width: 97%;
    border: none;
    padding-left: 3%;
    height: 45px;
    border-radius: 5px;
    font-size: large;
    background-color: var(--search-background-color);
    border-bottom: 2px solid rgb(0, 0, 0);
    color: var(--font-color-defalt);
    border-left: 1px solid white;
}
.top-body-cont-445 input::placeholder{
    color: rgb(173, 173, 173);
}
.top-body-44-search-results{
    width: 100%;
    position: relative;
    top: 5px;
    max-height: 450px;
    background-color: var(--search-background-color);
    border-radius: 5px;
    overflow-X: hidden;
}
#top-body-44-search-results-ul{
    display: none;
    width: 100%;
    position: relative;    
}
#top-body-44-search-results-ul li{
    width: 96%;
    position: relative;
    left: 2%;
    height: 100px;
    margin-top: 15px;
    background-color: rgb(68, 68, 68);
    border-radius: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#top-body-44-search-results-ul li.end{
    background-color: transparent;
    height: 5px;
}
.top-body-cont-255{
    width: 90%;
    position: relative;
    left: 5%;
    top: 170px;
    height: 300px;
    background-color: transparent;
    border-radius: 5px;
    /* box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.13); */
}
.top-body-cont-255 p{
    color: var(--font-defalt-p-color);
}
.top-body-cont-255 img{
    width: 100%;
    border-radius: 5px;
    filter:opacity(75%);
}

.top-body-cont-456{
    position: relative;
    margin-top: 330px;
    width: 100%;
}
#top-body-cont-456-ul{
    width: 90%;
    position: relative;
    left: 5%;
}
#top-body-cont-456-ul li{
    list-style: none;
    width: 100%;
    height: 200px;
    background-color: var(--action-popup-bg);
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.103);

    position: relative;
}
#top-body-cont-456-ul li img.go{
    position: absolute;
    bottom: 15px;
    left: 15px;
    filter: invert(100%);
}
#top-body-cont-456-ul li span.title{
    position: relative;
    top: 15px;
    left: 15px;
}
.top-body-456-selector{
    width: 90%;
    position: relative;
    left: 5%;
    height: 35px;
    border-radius: 5px;
    /* background-color: #ffffff; */
}
#top-body-456-selector-ul{
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto;
    gap: 25px;
    transition: all 1s;
}
#top-body-456-selector-ul li{
    position: relative;
    list-style: none;
    height: 100%;
    text-align: center;
}
#top-body-456-selector-ul li.on{
    border-bottom: 3px solid gray;
}
